# Introduction to Scikit-Learn(sklearn)

This notebook demonstrates some of th most useful functions of the beatuful Scikit-Learn library.

What  we're going to cover:

0. An end-to-Scikit-Learn workflow
1. Getting the data ready
2. Chose the  right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

## And end-to- Scikit-Learn workflow

In [1]:
# 1. Get  the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (features matrix)

X = heart_disease.drop("target", axis=1)
# Create Y (Labels)

Y = heart_disease["target"]

In [19]:
import warnings
warnings.filterwarnings("ignore")

In [20]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()

#clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [21]:
#3. Fit the model to the training data

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((227, 13), (76, 13), (227,), (76,))

In [36]:
import  sklearn
sklearn.show_versions()

System:
    python: 3.8.5 (default, Sep  4 2020, 02:22:02)  [Clang 10.0.0 ]
executable: /opt/anaconda3/bin/python
   machine: macOS-10.16-x86_64-i386-64bit

Python dependencies:
          pip: 20.2.4
   setuptools: 50.3.1.post20201107
      sklearn: 0.23.2
        numpy: 1.19.2
        scipy: 1.5.2
       Cython: 0.29.21
       pandas: 1.1.3
   matplotlib: 3.3.2
       joblib: 0.17.0
threadpoolctl: 2.1.0

Built with OpenMP: True

In [22]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

# 3. Fit the model to the data and use it to make a prediction
A model will (attempt to) learn the patterns in a dataset by calling the fit() function on it and passing it the data.

In [23]:
clf.fit(X_train, Y_train);

In [24]:
# Make predictions(tahminler oluşturma)
Y_preds = clf.predict(X_test)
Y_preds

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1])

In [25]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1

In [26]:
Y_test

186    0
101    1
131    1
129    1
106    1
      ..
137    1
76     1
168    0
209    0
63     1
Name: target, Length: 76, dtype: int64

In [27]:
clf.score(X_train,Y_train)

1.0

In [28]:
clf.score(X_test,Y_test)

0.7894736842105263

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test,Y_preds))

              precision    recall  f1-score   support

           0       0.85      0.72      0.78        39
           1       0.74      0.86      0.80        37

    accuracy                           0.79        76
   macro avg       0.80      0.79      0.79        76
weighted avg       0.80      0.79      0.79        76

In [30]:
confusion_matrix(Y_test, Y_preds)

array([[28, 11],
       [ 5, 32]])

In [31]:
accuracy_score(Y_test,Y_preds)

0.7894736842105263

In [32]:
import numpy as np

In [33]:
# 5. ımprove a model
# Try different amountof n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Traying model with{i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accury on test set: {clf.score(X_test,Y_test)*100}")
    print("")

Traying model with10 estimators...
Model accury on test set: 73.68421052631578

Traying model with20 estimators...
Model accury on test set: 78.94736842105263

Traying model with30 estimators...
Model accury on test set: 81.57894736842105

Traying model with40 estimators...
Model accury on test set: 78.94736842105263

Traying model with50 estimators...
Model accury on test set: 82.89473684210526

Traying model with60 estimators...
Model accury on test set: 78.94736842105263

Traying model with70 estimators...
Model accury on test set: 82.89473684210526

Traying model with80 estimators...
Model accury on test set: 82.89473684210526

Traying model with90 estimators...
Model accury on test set: 82.89473684210526

In [34]:
# 6. Save a model and load it

import pickle
pickle.dump(clf, open("random_forest_model_1.pk1","wb"))

In [35]:
loaded_model =pickle.load(open("random_forest_model_1","rb"))
loaded_model.score(X_test,Y_test)

FileNotFoundError: [Errno 2] No such file or directory: 'random_forest_model_1'

# 1. Gettting. our data ready to be used with machine learning

### three main we have to do:
    1. Split the data into features and labels (usally'x' &'y')
    2.filling (also called imputing) or disregarding missing values
    3. Converting non-numerical values to numerical values(also called feature encoding)

In [39]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [41]:
x = heart_disease.drop("target", axis =1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [42]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [46]:
## Split the data into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test=train_test_split(x,
                                                y,
                                                test_size =0.2)

In [47]:
x_train.shape,x_test.shape,y_test,y_train.shape

((242, 13),
 (61, 13),
 76     1
 158    1
 79     1
 90     1
 247    0
       ..
 84     1
 102    1
 60     1
 43     1
 58     1
 Name: target, Length: 61, dtype: int64,
 (242,))

In [48]:
x.shape

(303, 13)

In [49]:
len(heart_disease)

303

In [50]:
x.shape[0]*0.8

242.4